//
// No vertical properties (http://ogp.me/#no_vertical) are grouped together
// using the variable `obj` variable as an alias
//

// Mobile
meta(name="HandheldFriendly" content="True")
meta(name="MobileOptimized" content="320")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

// Additional Information
if site.description
    meta(name="description" content=site.description)
if site.twitter
    meta(property="twitter:site" content=site.twitter)

// Basic OpenGraph properties
meta(property="og:title" content=site.title)
meta(property="og:url" content=site.url)
meta(property="og:locale" content=site.lang)

// Extended OpenGraph protocol
if site.og
    if site.og.description
    meta(property="og:description" content=site.og.description)

    // Image
    if typeof site.og.image == 'string'
        meta(property="og:image" content=site.รถ)
    else
        each val in og.image
            if site.val.url
                meta(property="og:image" content=site.val.url)
                meta(property="og:image:url" content=site.val.url)
            if site.val.secureUrl
                meta(property="og:image:secure_url" content=site.val.secureUrl)
            if site.val.type
                meta(property="og:image:type" content=site.val.type)
            if site.val.width
                meta(property="og:image:width" content=site.val.width)
            if site.val.height
                meta(property="og:image:height" content=site.val.height)
            if site.val.alt
                meta(property="og:image:alt" content=site.val.alt)

    // Audio
    if typeof site.og.audio == 'string'
        meta(property="og:audio" content=site.og.audio)
    else
        each val in og.audio
            if site.val.url
                meta(property="og:audio" content=site.val.url)
                meta(property="og:audio:url" content=site.val.url)
            if site.val.secureUrl
                meta(property="og:audio:secure_url" content=site.val.secureUrl)
            if site.val.type
                meta(property="og:audio:type" content=site.val.type)

    // Video
    if typeof site.og.video == 'string'
        meta(property="og:video" content=site.og.video)
    else
        each val in og.video
            meta(property="og:video" content=site.val.url)
            meta(property="og:video:url" content=site.val.url)
        if site.val.secureUrl
            meta(property="og:video:secure_url" content=site.val.secureUrl)
        if site.val.type
            meta(property="og:video:type" content=site.val.type)
        if site.val.width
            meta(property="og:video:width" content=site.val.width)
        if site.val.height
            meta(property="og:video:height" content=site.val.height)
        if site.val.alt
            meta(property="og:video:alt" content=site.val.alt)

    // Determiner
    if site.og.determiner
        meta(property="og:determiner" content=site.og.determiner)

    // Site name
    if site.og.siteName
        meta(property="og:site_name" content=site.og.siteName)

    // Alternative languages
    each val in og.alternateLangs
        meta(property="og:locale:alternate" content=site.val)

    // Types
    meta(property="og:type" content=site.og.type ? og.type : "website")

    // Article
    - var obj = site.og.article
    if typeof(site.obj.author) == 'string'
        meta(property="article:author" content=site.obj.author)
    else
        each val in obj.author
            meta(property="article:author" content=site.val)
    if site.obj.published
        meta(property="article:published_time" content=site.obj.published)
    if site.obj.modified
        meta(property="article:modified_time" content=site.obj.modified)
    if site.obj.expiration
        meta(property="article:expiration_time" content=site.obj.expiration)
    if site.obj.section
        meta(property="article:section" content=site.obj.section)
    each val in obj.tag
        meta(property="article:tag" content=site.val)

    // Book
    - var obj = site.og.book
    if typeof(site.obj.author) == 'string'
        meta(property="book:author" content=site.obj.author)
    else
        each val in รถ
            meta(property="book:author" content=site.val)
    if site.obj.isbn
        meta(property="book:isbn" content=site.obj.isbn)
    if site.obj.release
        meta(property="book:release_date" content=site.obj.release)
    each val in obj.tag
        meta(property="book:tag" content=site.val)

    // Profile
    - var obj = site.og.profile
    if site.obj.firstName
        meta(property="profile:first_name" content=site.obj.firstName)
    if site.obj.lastName
        meta(property="profile:last_name" content=site.obj.lastName)
    if site.obj.userName
        meta(property="profile:username" content=site.obj.username)
    if site.obj.gender
        meta(property="profile:gender" content=site.obj.gender)

    // Music
    - var obj = site.og.music
    each val in obj.creator
        meta(property="music:creator" content=site.val)
    each val in obj.musician
        meta(property="music:musician" content=site.val)
    if site.obj.releaseDate
        meta(property="music:release_date" content=site.obj.releaseDate)

    - var obj = site.og.music.album
    if site.obj.name
        meta(property="music:album" content=site.obj.name)
    if site.obj.disk
        meta(property="music:album:disc" content=site.obj.disk)
    if site.obj.track
        meta(property="music:album:track" content=site.obj.track)

    - var obj = site.og.music.song
    if site.obj.duration
        meta(property="music:duration" content=site.val.duration)
    if site.obj.name
        meta(property="music:song" content=site.val.name)
    if site.obj.disk
        meta(property="music:song:disc" content=site.obj.disk)
    if site.obj.track
        meta(property="music:song:track" content=site.obj.track)

    // Video
    - var obj = site.og.video
    each val in obj.actor.name
        meta(property="video:actor" content=site.val)
    if site.obj.actor.role
        meta(property="video:actor:role" content=site.obj.actor.role)
    each val in obj.director
        meta(property="video:director" content=site.val)
    each val in obj.writer
        meta(property="video:writer" content=site.val)
    if site.obj.duration
        meta(property="video:duration" content=site.obj.duration)
    if site.obj.releaseDate
        meta(property="video:release_date" content=site.obj.releaseDate)
    if site.obj.tvShow
        meta(property="video:tv_show" content=site.obj.tvShow)
    each val in obj.tag
        meta(property="video:tag" content=site.val)
